[submodule "external/cmsis-device"]
	path = external/cmsis-device
	url = https://github.com/STMicroelectronics/cmsis-device-h7.git
[submodule "external/cmsis-core"]
	path = external/cmsis-core
	url = https://github.com/ARM-software/CMSIS_6.git
[submodule "external/cmsis-dsp"]
	path = external/cmsis-dsp
	url = https://github.com/ARM-software/CMSIS-DSP.git
[submodule "external/nanoprintf"]
	path = external/nanoprintf
	url = https://github.com/charlesnicholson/nanoprintf.git